$site-font: "Roboto", "Arial", sans-serif;
$font-size-base: 10px;
$bg-color: #fff;
$pr-color: rgba(8, 31, 50, 1);

$detail-subtitle: rgba(110, 121, 140, 1);
$character-subtitle: rgba(142, 142, 147, 1);
$character-border: rgba(33, 33, 33, 0.08);
$card-title-color: rgba(0, 0, 0, 0.87);
$card-subtitle-color: rgba(0, 0, 0, 0.6);
$link-color: #000;
$filter-border: rgba(0, 0, 0, 0.5);

$filter-btn: rgba(227, 242, 253, 1);
$filter-btn-text: rgba(33, 150, 243, 1);
